# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
logs/
*.log

# Testing
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Database
storage/*.db

# ChromaDB
data/chroma_db/

# Uploads & Documents
data/uploads/
data/documents/

# Jupyter
.ipynb_checkpoints/
